*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 5px 10px;
    background-color: lightsalmon;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: "left right";
}

.brand-logo {
    grid-area: left;
}

.main-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: center;
}

.burgerIconContainer{
    display: flex;
    align-items: center;
    justify-content: right;
}

.burgerIcon{
    color: white;
    border: 2px solid whitesmoke;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: transparent;
    display: none;
}
.burgerIcon:hover {

    background-color: bisque;
    cursor: pointer;

}

.navigation-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navigation-item {
    margin: 0 10px;
}

.navigation-item a{
    text-decoration: none;
    color: moccasin;
    transition: color 2s;
}
.navigation-item a:hover{
    text-decoration: underline;
    color: brown;
}   

.fullWidthImage {
    width: 100%;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.welcomeGrid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "welcomeLeft welcomeRight"
                          "welcomeBottom welcomeBottom";
    grid-template-rows: repeat(2, 1fr);
}

.welcomeLeft{
    grid-area: welcomeLeft;
    color: darksalmon;
}

.welcomeRight{
    grid-area: welcomeRight;
    color: chocolate;
}

.welcomeBottom{
    grid-area: welcomeBottom;
    color: darkgoldenrod;
}

.padding20{
    padding: 20px;
}

footer{
    margin-top: 36px;
    background-color: rgb(219, 78, 73);
}

.socialMedia {

    font-size: 30px;
    text-align: center;
    padding: 10px;

}

.socialMedia > a {

    text-decoration: none;
    color: lemonchiffon;
    transition: 0.5s color;
}

.socialMedia > a:hover {

color: lightsalmon;

}

#instagramIcon:hover{
    color: mediumpurple;
}

@media only screen and (max-width: 880px){
    .welcomeGrid {
        grid-template-areas: "welcomeBottom welcomeBottom"
                             "welcomeLeft welcomeRight";
    } 
}

@media only screen and (max-width: 480px){
    .welcomeGrid {
        grid-template-columns: 1fr;
        grid-template-areas: "welcomeLeft" 
                             "welcomeRight"
                             "welcomeBottom";
        width: 95%;
        display: block;
        margin: 0px auto;
    } 

    header{
        padding: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "left right"
                              "nav nav";
    }
    
    .main-nav{
        grid-area: nav;
    }
    .navigation-list{
     /*   display: none;*/
        display: inline-block;
        width: 100%;
        height: 150px;
        opacity: 1;
        transition: 0.3s height ease-in-out, 0.2s opacity ease-in;
        transition-delay: 0s, 0.2s;
    }

    .navigation-list-closed{
        opacity: 0;
        height: 0;
        transition-delay: 0.2s, 0s;
    }

    .navigation-item{
        width: 100%;
        text-align: center;
        padding: 15px;
        margin: 0;
        border-bottom: 2px solid white;
    }

    .navigation-item:hover{
        background-color: tomato;
    }

    .burgerIcon{
        display: block;
        grid-area: right;
    }
}